{% extends "core.twig" %}
{% block title %}Admin{% endblock %}
{% block contentHeader %}
        Admin
        <small>Manage watched</small>
{% endblock %}
{% block content %}
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.agents.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-id-badge"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Agents</span>
              <span class="info-box-number">{{ agents }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.domains.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-object-group"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Domains</span>
              <span class="info-box-number">{{ domains }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.apps.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-rocket"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Applications</span>
              <span class="info-box-number">{{ apps }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.agents.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-eraser"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Cleanup</span>
              <span class="info-box-number">{{ clean }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.users.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon ion-person"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">{{ users }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.teams.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="icon ion-person-stalker"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Teams</span>
              <span class="info-box-number">{{ teams }}</span>
            </div>
          </div></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href='{{ path_for('admin.roles.list') }}'>
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="icon ion-ios-body-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Roles</span>
              <span class="info-box-number">{{ roles }}</span>
            </div>
          </div></a>
        </div>

      </div>
{% endblock %}
