{% extends "core.twig" %}
{% block title %}{{ _('Agents') }} - {{ _('Modify') }}{% endblock %}
{% block contentHeader %}
        {{ _('Agents') }}
        <small>{{ _('Modify an agent') }}</small>
{% endblock %}
{% block content %}
      <div class="row">
	<div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Modify an agent') }}</h3>
            </div>
            <form class="form-horizontal" action="{{ path_for('admin.agents.change', {'id': agent_id}) }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="host" class="col-sm-2 control-label">{{ _('Host') }}</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="host" name="host" placeholder="{{ _('Host') }}" {% if host %} value="{{host}}" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="port" class="col-sm-2 control-label">{{ _('Port') }}</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="port" name="port" placeholder="{{ _('Number') }}" {% if port %} value="{{port}}" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label for="ssl" class="col-sm-2 control-label">{{ _('Use SSL') }}</label>

                  <div class="col-sm-10">
		    <select class="form-control" name='ssl'>
			<option {% if ssl==1 %} selected="selected"{% endif %} value=1>{{ _('Yes') }}</option>
			<option {% if ssl==0 %} selected="selected"{% endif %} value=0>{{ _('No') }}</option>
		    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="freq" class="col-sm-2 control-label">{{ _('Pooling frequency (s)') }}</label>

                  <div class="col-sm-10"><div class="input-group">
                    <input type="name" class="form-control" id="freq" name="freq" placeholder="{{ _('Number') }}" {% if freq %} value="{{freq}}" {% endif %}>
		    <span class="input-group-addon">{{ _('seconds') }}</span>
                  </div></div>
                </div>

                <div class="form-group">
                  <label for="central" class="col-sm-2 control-label">{{ _('Backend group #') }}</label>

                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="central" name="central" placeholder="{{ _('Number') }}" {% if central %} value="{{central}}" {% endif %}>
                  </div>
                </div>
              <div class="box-footer">
                <a href="{{ path_for('admin.agents.list') }}" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ _('Cancel') }}</a>
                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> {{ _('update') }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
