{% extends "core.twig" %}
{% block title %}Apps - Modify{% endblock %}
{% block contentHeader %}
        Apps
        <small>Modify an application</small>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Modify an application</h3>
            </div>
            <form class="form-horizontal" action="{{ path_for('admin.apps.change', {'id': app_id}) }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name" {% if name %} value="{{name}}" {% endif %}>
                  </div>
                </div>
              <div class="box-footer">
                <a href="{{ path_for('admin.apps.list') }}" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel</a>
                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> update</button>
              </div>
              </div>
            </form>
          </div>
          <div class="box box-normal">
            <div class="box-header with-border">
              <h3 class="box-title">Teams</h3>
	      <a class="btn btn-default btn-flat pull-right" href="{{ path_for('admin.apps.addTeam', { 'id': app_id }) }}">
		<i class="fa fa-plus" aria-hidden="true"></i> Add
	      </a>
            </div>
              <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>Team</th>
               <th>Role</th>
               <th>Alert</th>
               <th class='pull-right'>actions</th>
	      </tr></thead><tbody>
    {% for a in teams %}
               <tr>
		<td><a href="{{ path_for('admin.teams.change', { 'id': a.team_id  }) }}">{{ a.team_name }}</a></td>
		<td><a href="{{ path_for('admin.roles.change', { 'id': a.role_id }) }}">{{ a.role_name }}</a></td>
		<td>{{ a.send }}</td>
                <td class='pull-right'><a href="{{ path_for('admin.apps.changeTeam', { 'id': app_id, 'tid': a.team_id, 'rid': a.role_id }) }}"><i class="fa fa-wrench"></i></a>&nbsp;
		    <a data-toggle="modal" data-target="#deleteTeam{{ app_id }}-{{ a.team_id }}-{{ a.role_id }}"><i class="fa fa-trash"></i></a>
<div class="modal fade modal-warning" id="deleteTeam{{ app_id }}-{{ a.team_id }}-{{ a.role_id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove team {{ a.type }} on the {{ name }} application</h4>
      </div>
      <div class="modal-body">
	      <p>Are you sure you want to remove this team {{ a.type }} on the {{ name }} application :</p>
	      <div class="row">
		<div class="col-md-2"><strong class='pull-right'>Team</strong></div>
		<div class="col-md-10">{{ a.team_name }}</div>
	      </div>
	      <div class="row">
		<div class="col-md-2"><strong class='pull-right'>Role</strong></div>
		<div class="col-md-10">{{ a.role_name }}</div>
	      </div>
      </div>
      <div class="modal-footer">
	<form action="{{ path_for('admin.apps.deleteTeam', { 'id': app_id, 'tid': a.team_id, 'rid': a.role_id }) }}" method="post">
          <button type="submit" class="btn btn-outline">Confirm</button>
	</form>
      </div>
    </div>
  </div>
</div>
		</td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-normal">
            <div class="box-header with-border">
              <h3 class="box-title">Services</h3>
	      <a class="btn btn-default btn-flat pull-right" href="{{ path_for('admin.apps.addService', {'id': app_id}) }}">
		<i class="fa fa-plus" aria-hidden="true"></i> Add
	      </a>
            </div>
              <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>Domain</th>
               <th>Host</th>
               <th>Service</th>
               <th class='pull-right'>actions</th>
	      </tr></thead><tbody>
    {% for a in services %}
               <tr>
		<td><a href="{{ path_for('admin.domains.change', { 'id': a.domain_id  }) }}">{{ a.domain_name }}</a></td>
		<td>{{ a.host_name }}</td>
		<td>{{ a.name }}</td>
                <td class='pull-right'><a data-toggle="modal" data-target="#deleteService{{ app_id }}-{{ a.id }}"><i class="fa fa-trash"></i></a>
<div class="modal fade modal-warning" id="deleteService{{ app_id }}-{{ a.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove service from the {{ name }} app</h4>
      </div>
      <div class="modal-body">
	      <p>Are you sure you want to remove this service from the {{ name }} app :</p>
	      <div class="row">
		<div class="col-md-2"><strong class='pull-right'>Domain</strong></div>
		<div class="col-md-10">{{ a.domain_name }}</div>
	      </div>
	      <div class="row">
		<div class="col-md-2"><strong class='pull-right'>Host</strong></div>
		<div class="col-md-10">{{ a.host_name }}</div>
	      </div>
	      <div class="row">
		<div class="col-md-2"><strong class='pull-right'>Service</strong></div>
		<div class="col-md-10">{{ a.name }}</div>
	      </div>
      </div>
      <div class="modal-footer">
	<form action="{{ path_for('admin.apps.deleteService', { 'id': app_id, 'sid': a.id }) }}" method="post">
          <button type="submit" class="btn btn-outline">Confirm</button>
	</form>
      </div>
    </div>
  </div>
</div>
		</td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
              </div>
            </form>
          </div>
        </div>
      </div>


{% endblock %}
