      <ul class="sidebar-menu">
{% if menu.isAdmin %}
        <li class="header">{{ _('Admin') }}</li>
  {% for d in menu.adminlinks %}
        <li class="treeview {% if d.active == true %}active{% endif %}">
          <a href="#">
            <i class="{{ d.icon }}"></i>
            <span>{{ _(d.name) }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
    {% for h in d.pages %}
            <li {% if h.active == true %}class="active"{% endif %}><a href="{{ path_for(h.page) }}"><i class="{{ h.icon }}"></i> {{ _(h.name) }}</a></li>
    {% endfor %}
          </ul>
        </li>
  {% endfor %}
{% endif %}
{% if menu.domains %}
        <li class="header">{{ _('Hosts') }}</li>
  {% for d in menu.domains %}
        <li class="treeview {% if d.active == true %}active{% endif %}">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>{{ _(d.name) }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
    {% for h in d.hosts %}
            <li {% if h.active == true %}class="active"{% endif %}><a href="{{ path_for('host', { 'id': h.id|e }) }}"><i class="fa fa-circle-o"></i>{{ h.name }}</a></li>
    {% endfor %}
          </ul>
        </li>
  {% endfor %}
{% endif %}
{% if menu.apps %}
        <li class="header">{{ _('Applications') }}</li>
  {% for d in menu.apps %}
        <li class="treeview {% if d.active == true %}active{% endif %}">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>{{ d.name }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
    {% for h in d.services %}
            <li {% if h.active == true %}class="active"{% endif %}><a href="{{ path_for('host', { 'id': h.id|e }) }}"><i class="fa fa-circle-o"></i>{{ h.name }}</a></li>
    {% endfor %}
          </ul>
        </li>
  {% endfor %}
{% endif %}
      </ul>
