{% extends "core.twig" %}
{% block title %}Dashboard {% endblock %}
{% block meta %}
<style>
table.table-hover tr td a {
	display: block;
	width: 100%;
	height: 100%;
}
</style>
{% endblock %}
{% block contentHeader %}
        Dashboard
        <small>overview</small>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Monitoring status</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <canvas id="pieChart" height="150"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
    {% for m in monitorStatus %}
    <li><i class="fa fa-circle-o {{ m.text }}"></i> {{ m.name }}<span class="pull-right">{{ m.cnt }}</span></li>
    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
    {% for e in activeEvent %}
                <li><a href="{{ path_for('event', { 'id': e.id|e }) }}">{{ e.decode }}.{{ e.property }}
                  <span class="pull-right {{ e.color }}">{{ e.current_value }}{{ e.encode }}{{ e.value }}</span></a></li>
    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">All monitoring item by types</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <canvas id="pieChart2" height="150"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
    {% for m in monitorItems %}
                    <li><i class="fa fa-circle-o {{ m.text }}"></i> {{ m.name }}<span class="pull-right">{{ m.cnt }}</span></li>
    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Hosts by domain</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <canvas id="pieChart3" height="150"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
    {% for m in domains %}
                    <li><i class="fa fa-circle-o {{ m.text }}"></i> {{ m.name }}<span class="pull-right">{{ m.cnt }}</span></li>
    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Current events</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>id</th>
               <th>since</th>
               <th>host</th>
               <th>ressource</th>
               <th>property</th>
               <th>value</th>
               <th>rule</th>
	      </tr></thead><tbody>
    {% for h in events %}
               <tr class="{{ h.color }}">
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.id }}</a></td>
		<td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.start_time }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.host_name }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.decode }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.property }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.current_value }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.encode }}{{ h.value }}</a></td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Failed services</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>host</th>
               <th>service</th>
               <th>since</th>
               <th>status</th>
	      </tr></thead><tbody>
    {% for h in services %}
               <tr class="{{ h.color }}">
                <td><a  class="{{ h.color }}" href="{{ path_for('service', { 'sid': h.serv_id, 'hid': h.host_id }) }}">{{ h.host }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('service', { 'sid': h.serv_id, 'hid': h.host_id }) }}">{{ h.service }}</a></td>
		<td><a  class="{{ h.color }}" href="{{ path_for('service', { 'sid': h.serv_id, 'hid': h.host_id }) }}">{{ h.timestamp }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('service', { 'sid': h.serv_id, 'hid': h.host_id }) }}">{{ h.status }}</a></td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
            </div>
          </div>
        </div>
      </div>

     </div>
{% endblock %}

{% block scripts %}
<script>
  var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
  var pieChart = new Chart(pieChartCanvas);
  var pieChartCanvas2 = $("#pieChart2").get(0).getContext("2d");
  var pieChart2 = new Chart(pieChartCanvas2);
  var pieChartCanvas3 = $("#pieChart3").get(0).getContext("2d");
  var pieChart3 = new Chart(pieChartCanvas3);
  var PieData1 = [];
    {% for m in monitorStatus %}
  PieData1.push({
      value: {{ m.cnt }},
      color: "{{ m.color }}",
      highlight: "{{ m.color }}",
      label: "{{ m.name }}"
    });
    {% endfor %}

  var PieData2 = [];
    {% for m in monitorItems %}
  PieData2.push({
      value: {{ m.cnt }},
      color: "{{ m.color }}",
      highlight: "{{ m.color }}",
      label: "{{ m.name }}"
    });
    {% endfor %}

  var PieData3 = [];
    {% for m in domains %}
  PieData3.push({
      value: {{ m.cnt }},
      color: "{{ m.color }}",
      highlight: "{{ m.color }}",
      label: "{{ m.name }}"
    });
    {% endfor %}

  var pieOptions = {
    segmentShowStroke: true,
    segmentStrokeColor: "#fff",
    segmentStrokeWidth: 1,
    percentageInnerCutout: 50, // This is 0 for Pie charts
    animationSteps: 100,
    animationEasing: "easeOutBounce",
    animateRotate: true,
    animateScale: false,
    responsive: true,
    maintainAspectRatio: false,
    tooltipTemplate: "<%=label%> - <%=value %>"
  };
  pieChart.Doughnut(PieData1, pieOptions);
  pieChart2.Doughnut(PieData2, pieOptions);
  pieChart3.Doughnut(PieData3, pieOptions);

</script>
{% endblock %}
