{% extends "core.twig" %}
{% block title %}Service {{ service.name }}{% endblock %}
{% block contentHeader %}
        Service
        <small>{{ service.name }}</small>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Process </h3>
            </div>
	    <div class="box-body">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>name</th>
               <th>path</th>
               <th>cwd</th>
               <th>username</th>
               <th>last check</th>
               <th>status</th>
	      </tr></thead><tbody>
        {% for p in service.process %}
	<!--<li class="{{ p.color }}">{{ p.process_name }}</li>-->
		<tr>
		  <td>{{ p.process_name }}</td>
		  <td>{{ p.full_path }}</td>
		  <td>{{ p.cwd }}</td>
		  <td>{{ p.username }}</td>
		  <td>{{ p.timestamp }}</td>
		  <td class="{{ p.color }}">{{ p.status }}</td>
		</tr>
        {% endfor %}
	      </tbody></table>
	    </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Sockets </h3>
            </div>
	    <div class="box-body">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>listen</th>
               <th>last check</th>
               <th>status</th>
	      </tr></thead><tbody>
        {% for o in service.sockets %}
		<tr>
		  <td>{{ o.socket_name }}</td>
		  <td>{{ o.timestamp }}</td>
		  <td class="{{ o.color }}">{{ o.status }}</td>
		</tr>
        {% endfor %}
	      </tbody></table>
	     </div>
	    </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Availability</h3>
	      <div class="box-tools">
		<!-- TODO: add a dropdown to select the period -->
                    <div class="btn-group">
                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          Period <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a onclick="setPeriod('all')">All</a></li>
                          <li><a onclick="setPeriod('week')">Last week</a></li>
                          <li><a onclick="setPeriod('yesterday')">Yesterday</a></li>
                          <li><a onclick="setPeriod('today')">Today</a></li>
                          <li><a onclick="setPeriod('hour')">Last hour</a></li>
                        </ul>
                      </div>
                    </div>
	      </div>
            </div>
            <div class="box-body">
	     <div class="chart">
	      <div id="morrisChart"></div>
	     </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
<script>
if (!Date.now) {
    Date.now = function() { return new Date().getTime(); }
}

$.getJSON( "{{ path_for('apiService', { 'id': service.id }) }}", function( data ) {
	var ykeys = [];
	$.each(data[0], function(index, value) {
		if (index!='timestamp')
			ykeys.push(index);
	});
	graph = new Morris.Area({
		element: 'morrisChart',  
		data: data, 
		hideHover: true,
		xkey: 'timestamp', 
		pointSize:0,fillOpacity:0.3,
		ykeys: ['missing','failed','ok'], labels: ['missing','failed','ok'], lineColors: ['#ff851b','#dd4b39','#00a65a']
	});
});

function updateLiveGraph(url) {
  $.getJSON(url, function(results) {
	graph.setData(results); 
  });
}

function setPeriod(p) {
	var baseurl="{{ path_for('apiService', { 'id': service.id }) }}";
	var url;
	switch(p) {
	case "all": url=baseurl;break;
	case "week": url=baseurl+"/"+(Math.floor(Date.now())-(3600000*24*7));break;
	case "yesterday": url=baseurl+"/"+((Math.floor(Date.now()/(3600000*24))-1)*(3600000*24))+"/"+(Math.floor(Date.now()/(3600000*24))*(3600000*24));break;
	case "today": url=baseurl+"/"+(Math.floor(Date.now()/(3600000*24))*(3600000*24));break;
	case "hour": url=baseurl+"/"+(Math.floor(Date.now()/(3600000))*(3600000));break;
	default:
		return false
	}
	updateLiveGraph(url)
	return true
}

</script>
{% endblock %}

