{% extends "core.twig" %}
{% block title %}{{ _('Hosts') }}{% endblock %}
{% block contentHeader %}
        {{ _('Hosts') }}
        <small>{{ _('list') }}</small>
{% endblock %}
{% block content %}
          <div class="box box-default">
            <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>{{ _('name') }}</th>
               <th>{{ _('monitor items') }}</th>
               <th>{{ _('current events') }}</th>
               <th>{{ _('ressources') }}</th>
               <th>{{ _('services') }}</th>
	      </tr></thead><tbody>
    {% for a in hosts %}
               <tr>
                <td><a href="{{ path_for('host', { 'id': a.id }) }}">{{ a.host }}</a></td>
                <td>{{ a.monitor_items }}</td>
                <td>{{ a.events+a.failed }}</td>
                <td><a href="{{ path_for('ressources', { 'id': a.id }) }}">{{ a.ressources }}</a></td>
                <td><a href="{{ path_for('services', { 'id': a.id }) }}">{{ a.services }}</a></td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
            </div>
          </div>
{% endblock %}
