{% extends "core.twig" %}
{% block title %}{{ _('Service') }} {{ service.name }}{% endblock %}
{% block contentHeader %}
        {{ _('Service') }}
        <small>{{ service.name }}</small>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Process </h3>
            </div>
	    <div class="box-body">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>{{ _('name') }}</th>
               <th>{{ _('path') }}</th>
               <th>{{ _('cwd') }}</th>
               <th>{{ _('username') }}</th>
               <th>{{ _('last check') }}</th>
               <th>{{ _('status') }}</th>
	      </tr></thead><tbody>
        {% for p in service.process %}
	<!--<li class="{{ p.color }}">{{ p.process_name }}</li>-->
		<tr>
		  <td>{{ p.process_name }}</td>
		  <td>{{ p.full_path }}</td>
		  <td>{{ p.cwd }}</td>
		  <td>{{ p.username }}</td>
		  <td>{{ p.timestamp }}</td>
		  <td class="{{ p.color }}">{{ p.status }}</td>
		</tr>
        {% endfor %}
	      </tbody></table>
	    </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Sockets') }}</h3>
            </div>
	    <div class="box-body">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>{{ _('listen') }}</th>
               <th>{{ _('last check') }}</th>
               <th>{{ _('status') }}</th>
	      </tr></thead><tbody>
        {% for o in service.sockets %}
		<tr>
		  <td>{{ o.socket_name }}</td>
		  <td>{{ o.timestamp }}</td>
		  <td class="{{ o.color }}">{{ o.status }}</td>
		</tr>
        {% endfor %}
	      </tbody></table>
	     </div>
	    </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Availability') }}</h3>
	      <div class="box-tools">
                    <div class="btn-group">
                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          Period <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a onclick="chart.setPeriod('all')">{{ _('All') }}</a></li>
                          <li><a onclick="chart.setPeriod('month')">{{ _('Last month') }}</a></li>
                          <li><a onclick="chart.setPeriod('week')">{{ _('Last week') }}</a></li>
                          <li><a onclick="chart.setPeriod('yesterday')">{{ _('Yesterday') }}</a></li>
                          <li><a onclick="chart.setPeriod('today')">{{ _('Today') }}</a></li>
                          <li><a onclick="chart.setPeriod('hour')">{{ _('Last hour') }}</a></li>
                        </ul>
                      </div>
                    </div>
	      </div>
            </div>
            <div class="box-body">
	     <div class="chart">
	      <div id="morrisChart"></div>
	     </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
<script src="/js/watched.service.js"></script>
<script>
chart = watchedService('morrisChart', "{{ path_for('apiService', { 'id': service.id }) }}");
</script>
{% endblock %}

