{% extends "core.twig" %}
{% block title %}{{ _('Host') }} {{ host.host }} {% endblock %}
{% block meta %}
<style>
table.table-hover tr td a {
	display: block;
	width: 100%;
	height: 100%;
}
</style>
{% endblock %}
{% block contentHeader %}
        {{ _('Host') }}
        <small>{{ host.host }}</small>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
		    <h3 class="box-title">{{ _('Monitoring status') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
	    <div class="box-body" id="gfx1"></div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
    {% for e in activeEvent %}
                <li><a class="{{ e.color }}" href="{{ path_for('event', { 'id': e.id|e }) }}">{{ e.decode }}.{{ e.property }}
                  <span class="pull-right {{ e.color }}">{{ e.current_value }}{{ e.encode }}{{ e.value }}</span></a></li>
    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Events history') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body table-responsive">
	      <table class="table table-striped table-hover">
	      <thead><tr>
               <th>{{ _('id') }}</th>
               <th>{{ _('start') }}</th>
               <th>{{ _('end') }}</th>
               <th>{{ _('ressource') }}</th>
               <th>{{ _('property') }}</th>
               <th>{{ _('value') }}</th>
               <th>{{ _('rule') }}</th>
	      </tr></thead><tbody>
    {% for h in monitorHistory %}
               <tr class="{{ h.color }}">
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.id }}</a></td>
		<td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.start_time }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.end_time }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.decode }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.property }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.current_value }}</a></td>
                <td><a  class="{{ h.color }}" href="{{ path_for('event', { 'id': h.id }) }}">{{ h.encode }}{{ h.value }}</a></td>
               </tr>
    {% endfor %}
	      </tbody>
	     </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Monitoring item types') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
	    <div class="box-body" id="gfx2"></div>
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Services') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
    {% for s in services %}
		<a href="{{ path_for('service', { 'hid': host.id, 'sid': s.serv_id }) }}">
                  <div class="clearfix">
                    <span class="pull-left {{ s.color }}">{{ s.name }}</span>
                  </div>
		</a>
    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Memory usage (MB)') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
		<div id="memory-usage" style="height: 250px;"></div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('CPU usage') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
    {% for s in cpuUsage %}
		<a href="{{ path_for('ressource', { 'aid': s.host_id, 'rid': s.res_id }) }}">
                  <div class="clearfix">
                    <span class="pull-left">{{ s.decode }}</span>
                    <small class="pull-right">{{ s.pctused }}%</small>
                  </div>
                  <div class="progress xs">
		    <div class="progress-bar progress-bar-red" style="width: {{ s.user }}%;"></div>
		    <div class="progress-bar progress-bar-yellow" style="width: {{ s.system }}%;"></div>
		    <div class="progress-bar progress-bar-green" style="width: {{ s.nice }}%;"></div>
		    <div class="progress-bar progress-bar-blue" style="width: {{ s.iowait }}%;"></div>
		    <div class="progress-bar progress-bar-light-blue" style="width: {{ s.irq }}%;"></div>
		    <div class="progress-bar progress-bar-aqua" style="width: {{ s.softirq }}%;"></div>
                  </div>
		</a>
    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Storage status') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
    {% for s in storageStatus %}
		<a href="{{ path_for('ressource', { 'aid': s.host_id, 'rid': s.res_id }) }}">
                  <div class="clearfix">
                    <span class="pull-left">{{ s.decode }}</span>
                    <small class="pull-right">{{ s.pctused }}%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-{{ s.color }}" style="width: {{ s.pctused }}%;"></div>
                  </div>
		</a>
    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Statistics') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
    {% for s in stats %}
		<a href="{{ path_for('ressource', { 'aid': s.host_id, 'rid': s.res_id }) }}">
                  <div class="clearfix">
                    <span class="pull-left">{{ s.name }}</span>
                  </div>
		</a>
    {% endfor %}
            </div>
          </div>
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ _('Other ressources') }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
    {% for s in ressources %}
		<a href="{{ path_for('ressource', { 'aid': s.host_id, 'rid': s.res_id }) }}">
                  <div class="clearfix">
                    <span class="pull-left">{{ s.name }}</span>
                  </div>
		</a>
    {% endfor %}
            </div>
          </div>
        </div>

     </div>
{% endblock %}

{% block scripts %}
<script>
  var PieData1 = [];
    {% for m in monitorStatus %}
  PieData1.push({
      value: {{ m.cnt }},
      color: "{{ m.color }}",
      highlight: "{{ m.color }}",
      label: "{{ _(m.name) }}"
    });
    {% endfor %}
  watchedDonut("gfx1", PieData1);

  var PieData2 = [];
    {% for m in monitorItems %}
  PieData2.push({
      value: {{ m.cnt }},
      color: "{{ m.color }}",
      highlight: "{{ m.color }}",
      label: "{{ _(m.name) }}"
    });
    {% endfor %}
  watchedDonut("gfx2", PieData2);

Morris.Bar({
  element: 'memory-usage',
  data: [
    {% for m in memoryUsage %}
      { type: '{{ m.name }}', used: {{ m.used }}, free: {{ m.free }}, url: "{{ path_for('ressource', { 'aid': m.host_id, 'rid': m.res_id }) }}" },
    {% endfor %}
  ],
  xkey: 'type',
  ykeys: ['used', 'free'],
  stacked: true,
  hideHover: true,
  labels: ['Used', 'Free']
}).on('click', function(i, row){
  location.href=row["url"];
});
</script>
{% endblock %}
