{% extends "core.twig" %}
{% block title %}{{ _('Events') }}{% endblock %}
{% block contentHeader %}
        {{ _('Current events') }} 
        <small>{{ _('on') }} {{ _('ressources') }}</small>
{% endblock %}
{% block content %}
          <div class="box box-default">
            <div class="box-body table-responsive">
	      <table class="table table-striped table-hover" id="sort">
	      <thead><tr>
               <th class="sortable">{{ _('host name') }}</th>
               <th class="sortable">{{ _('ressource name') }}</th>
               <th class="sortable">{{ _('type') }}</th>
               <th class="sortable">{{ _('property') }}</th>
               <th class="sortable">{{ _('status') }}</th>
               <th class="sortable">{{ _('since') }}</th>
	      </tr></thead><tbody>
	      </tbody>
	     </table>
            </div>
          </div>
{% endblock %}
{% block scripts %}
<script src="/js/watched.tables.js"></script>
<script>
  myTable = watchedTable("sort", [
    {% for a in events %}
      {
	hname:	{ "text": "{{ a.host_name }}", "color": "{{ a.color }}",  "url": "{{ path_for('host', { 'id': a.host_id }) }}"},
	rname:	{ "text": "{{ a.name }}", "color": "{{ a.color }}",  "url": "{{ path_for('ressource', { 'rid': a.res_id, 'aid': a.host_id }) }}"},
	type:	{ "text": "{{ a.type }}", "color": "{{ a.color }}"},
	prop:	{ "text": "{{ a.property }}", "color": "{{ a.color }}",  "url": "{{ path_for('event', { 'id': a.id }) }}"},
	status:	{ "text": "{{ a.current_value }} {{ a.oper }} {{ a.value }}", "color": "{{ a.color }}",  "url": "{{ path_for('event', { 'id': a.id }) }}"},
	start:	{ "text": "{{ a.start_time }}", "color": "{{ a.color }}",  "url": "{{ path_for('event', { 'id': a.id }) }}"}
      },
    {% endfor %}
  ]);
</script>
{% endblock %}
